
<meta charset="UTF-8">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          
          <section class="">
            <div class="mdl-card mdl-cell--12-col" ui-view>
             
             
            </div>
            
          </section>
          
       
        </div>
<div ng-include="'resources/app/views/modals/modalInserirImposto.html'"></div>  
<div ng-include="'resources/app/views/modals/modalDataReferencia.html'"></div>    
         
   
       